@font-face {
    font-family: 'SF Pro Display';
    src: url("./font/SFProDisplay-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("./font/SFProDisplay-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("./font/SFProDisplay-Semibold.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url("./font/SFProDisplay-Bold.woff") format("woff");
    font-weight: 700;
}

$rem: 1/16;
$orange: #ff7a00;
$blue: #0b84f4;
$green: #12c24e;
$grey: #707070;
$body: #1e1e1e;
$divider: #efefef;
$bg_light_grey: #f8f8f8;
//general
$max_width: 1440px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font: {
        family: 'SF Pro Display', sans-serif;
        weight: 400;
    }
}

//font-styles-desktop
h1,h2,h3{
    word-wrap: break-word;
}
h1{
    font-size: $rem * 76rem;
    font-weight: 700;
    line-height: $rem*84rem;
}
h2{
    font-size: $rem * 62rem;
    font-weight: 700;
    line-height: $rem*72rem;
}
h3{
    font-size: $rem * 52rem;
    line-height: $rem *56rem;
    font-weight: 700;
}
h4{
    font-size: $rem * 20rem;
    font-weight: 500;
    line-height: $rem *25rem;
    color: $body;
}
p,span{
    font-size: $rem * 16rem;
    font-weight: 500;
    line-height: $rem *20rem;
}
span.overline{
    font-weight: 700;
    letter-spacing: $rem* .5rem;
    text-transform: uppercase;
}

//UI 
nav{
    background-color: rgba(255,255,255,0.24);
    border-bottom: 1px solid $divider;
    .container{
        margin: 0 auto;
        max-width: $max_width;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 28px;
        //backdrop-filter: blur(10px);
        img{
            width: 40px;
            margin-right: 8px;
        }
    }
}

.hero{
    margin: 0 auto;
    max-width: $max_width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 88px 160px;
    .overline{
        margin-bottom: 8px;
        color: $orange;
    }
    h1{
        color: $orange;
        margin-bottom: 16px;
    }
    h4{
        color: $grey;
    }
}

.teaser{
    background: $bg_light_grey;
    border-top: 1px solid $divider;
    border-bottom: 1px solid $divider;
    .container{
        margin: 0 auto;
        max-width: $max_width;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 28px;
        span{
            text-align: center;
            font-weight: 400;
            color: $grey;
        }
    }
}

.cards_container{
    background: $bg_light_grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    padding: 64px 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1240px;
    gap: 24px;
    .card{
        overflow: hidden;
        position: relative;
        padding: 48px;
        border-radius: 34px;
        background: white;
        display: flex;
        flex-direction: column;
        height: 650px;
        h4{
            z-index:3;
            margin-bottom: 8px;
        }
        .fab{
            z-index: 3;
            width: 64px;
            height: 64px;
            position: absolute;
            right:40px;
            bottom: 40px;
            cursor: pointer;
            &.white{
                background: center/contain no-repeat url('/assets/icons/fab_white.png');
            }
            &.black{
                background: center/contain no-repeat url('/assets/icons/fab_black.png') ;
            }
        }
        .container_heading{
            z-index:3;
            flex-grow:1;
            display: flex;
            flex-direction: column;
        }
        .form_fg{
            z-index: 2;
            position: absolute;
        }
        img{
            z-index: 1;
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            width: 100%;
            bottom: 0;
        }
        .form_bg{
            z-index: 0;
            position: absolute;
        }
        &.content-center .container_heading{
            justify-content: center;
        }
        &.content-bottom .container_heading{
            justify-content: flex-end;
            padding-right: 64px;
        }
    }
    .section_desc{
        padding: 0 140px 0 48px;
        margin-bottom: 103px;
        grid-column: span 2;
        h2{margin-bottom:12px;}
    }
    
}

//styles extended cards
.card.extended{
    grid-column: span 2;
}

//section specific styles
.stats h4.accent, .symptoms h4.accent, .symptoms h2.accent{
    color: $orange;
}

//card specific styles
.card{
    &.cases{
        background: #373043;
        img{width: 120%;}
        h2{color: white;}
    }
    &.inflammations-gut{
        img{
            margin-bottom: -160px;
            width: 500px;
        }
        .circle{
            $dimensions: 32px;
            width: $dimensions; 
            height: $dimensions;
            border-radius: $dimensions;
            background-color: $orange;
            //box-shadow: 0px 0px 0px 16px rgba(255, 122, 0,.4);
            .outline{
                --scale: scale(1);
                --dimensions: 64px;
                width: var(--dimensions);
                height: var(--dimensions);
                border-radius: 40px;
                position: absolute;
                left: 50%;
                top: 50%; 
                transform: translate(-50%,-50%) var(--scale);
                background: rgba(255, 122, 0,.4);
            }
            &.c_1{left: 34%; bottom: 8%;}
            &.c_2{right: 32%; bottom: 28%}
            &.c_3{left: 40%; bottom: 32%}
        }
        
        .backdrop{
            $dimensions: 600px;
            width: $dimensions;
            height: $dimensions;
            border-radius: $dimensions/2;
            left: 50%;
            bottom: -240px;
            transform: translateX(-50%);
            background-color: #edeae6;
        }
    }
    &.diarrhea{
        img.tp_1{
            left: auto;
            right: -104px;
            bottom: 0;
            width: 450px;
            transform-origin: center center;
            transform: rotate(8deg);
        }
        img.tp_2{
            transform: translateX(0%);
            left: auto;
            width: 300px;
            left:-80px;
            bottom: 20%;
        }
    }
    &.fatigue{
        background-color: black;
        h4{
            color: $grey;
            padding-right: 50%;
            &.accent{
                color: $orange;
            }
        }
        .sleepy_head{
            @mixin rotate($deg) {transform: rotate($deg);}
            $dimensions: 250px;
            width: $dimensions;
            height: $dimensions;
            border-radius: $dimensions/2;
            transform-origin: center center;
            &.male_1{
                background: center/contain no-repeat url('/assets/freisteller/sleepy_head/1.png'), 
                rgba(255,255,255,.12);
                left: 32px;
                bottom: 32px;
            }
            &.male_2{
                background: center/contain no-repeat url('/assets/freisteller/sleepy_head/2.png'), 
                rgba(255,255,255,.12);
                left: 250px;
                top: 50%;
                transform: translateY(-50%);
                bottom: 32px;
            }
            &.male_3{
                background: center/contain no-repeat url('/assets/freisteller/sleepy_head/1.png'), 
                rgba(255,255,255,.12);
                left: 500px;
                bottom: 72px;

            }
            &.female_1{
                background: center/contain no-repeat url('/assets/freisteller/sleepy_head/3.png'), 
                rgba(255,255,255,.12); 
                right: 32px;
                top: 32px;
            }
        }
    }
    &.malnutrition{
        //cf
        &.content-bottom .container_heading{
            padding-right: 0;
        }
        .pg_indicator{
            position: relative;
            margin-top: 32px;
            $dimensions: 16px;
            height: $dimensions;
            border-radius: $dimensions/2;
            background: linear-gradient(90deg, 
            rgba(255,122,0,1) 50%, 
            rgba(62,226,4,1) 100%);
            .knob{
                width: $dimensions;
                height: $dimensions;
                border-radius: $dimensions/2;
                background: rgba(255,122,0,1);
                box-shadow: 0px 0px 0px 8px #fff;
                position:absolute;
                left: 48px; 
            }
        }
    }
    &.inflammtion_general{
        background: center/cover no-repeat url('/assets/freisteller/inflamation_skin_only.png'), white ;
        &::after{
            content: "";
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform-origin: center center;
            transform: scale(1);
            position: absolute;
            background: center/cover no-repeat url('/assets/freisteller/inflamation_only.png');
            opacity: .8;
        }
        h4{
            padding-right: 50%;
        }
    }
}







//MEDIA TABLET
@media screen and (max-width: 880px) {
    //Typography
    h1{
        font-size: $rem * 64rem;
        line-height: $rem*68rem;
    }
    
    h2{
        font-size: $rem * 44rem;
        line-height: $rem*52rem;
    }
    
    h3{
        font-size: $rem * 36rem;
        line-height: $rem *40rem;
    }
    
    h4{
        font-size: $rem * 18rem;
        font-weight: 500;
        line-height: $rem *24rem;
    }

    //General settings
    .hero{
        padding: 88px 64px;
    }
    .grid{
        padding:40px;
        .card{
            height: 550px;
            grid-column: span 2;
            .fab{width: 56px;}
        }
        .section_desc{
            padding: 0 48px;
            margin-bottom: 56px;
        }
    }

    //image resizing
    .card{
        &.cases img{width: 155%;}
        &.inflammations-gut .img_container{
            width: 480px;
            margin-bottom: -44px;
        }
        &.diarrhea img.tp_1{
            width: 500px;
            bottom: -40px;
        }
        &.fatigue{
            h4{padding-right: 0;}
            .sleepy_head.male_1{bottom:80px;left:24px} 
            .sleepy_head.male_2{display: none;} 
            .sleepy_head.male_3{display: none;} 
            .sleepy_head.female_1{top:320px;right: -16px} 
        }
        &.depression{
            img{
                margin-bottom: -32%;
            }
        }
        &.inflammtion_general{
            h4{padding-right: 0;}
        }
    }


}




//MEDIA MOBILE
@media screen and (max-width: 380px){
    .hero{
        padding: 40px 16px;
    }

}

